<nz-card style="width:300px;" [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis]">
    <nz-card-meta [nzTitle]="item.ItemName" nzDescription="This is the quantity" [nzAvatar]="avatarTemplate"></nz-card-meta>
  </nz-card>
  <ng-template #avatarTemplate>
    <nz-avatar [nzSrc]="item.Image"></nz-avatar>
  </ng-template>
  <ng-template #coverTemplate>
    <img alt="example" [src]="item.Image" />
  </ng-template>
  <ng-template #actionSetting>
    <i nz-icon nzType="plus"></i>
  </ng-template>
  <ng-template #actionEdit>
    <i nz-icon nzType="minus"></i>
  </ng-template>
  <ng-template #actionEllipsis>
    <i nz-icon nzType="ellipsis" (click)="showModal()"></i>
  </ng-template>

  
  
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Options" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <p>Content one</p>
    <p>Content two</p>
    <p>Content three</p>
    <p>Content three</p>
  </nz-modal>
  