<div *ngIf="m_menu_items">
    <div nz-row nzJustify="space-between" [nzGutter]="['8', '24']">
        <div *ngFor="let item of m_menu_items">        
            <div nz-col nzSpan="4">
                <app-yume-card [item] ="item"></app-yume-card>
            </div>
        </div>   
    </div>
</div>


<div *ngIf="m_menu_items">
    <div *ngIf="m_drinkSize">
        <div *ngIf="m_drinkTopping">
            <div *ngIf="m_soupSize">
                <div *ngIf="m_soupTopping">
                    {{m_menu_items}}
                    {{m_drinkSize}}
                    {{m_drinkTopping}}
                    {{m_soupSize}}
                    {{m_soupTopping}}
                </div>
            </div>
        </div>
    </div>
</div>

