<h1>Welcome to Yume House Pho</h1>
<p><strong>Business Hours:</strong> </p>
<p>Monday 11AM - 9PM</p>
<p>Tuesday 11AM - 9PM</p>
<p>Wednesday 11AM - 9PM</p>
<p><strong>Thursday CLOSED</strong></p>
<p>Friday 11AM - 9PM</p>
<p>Saturday 11AM - 9PM</p>
<p>Sunday 11AM - 9PM</p>
<p>Outdoors and indoors dine in available. Togo order can be placed directly via this website</p>
<div *ngIf="m_status == 1 && m_operation_hours == 1; else closeBlock">  
    <h1>{{m_announcement}}</h1>
</div>
<ng-template  #closeBlock><h2>{{m_reason_to_close}}</h2></ng-template>